﻿.wrapper {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}


body, input {
    margin: 0;
    padding: 0;
}

input {
    display: inline-block;
    background: #fff;
}

.container {
    width: 100%;
}

.register-box {
    position: relative;
    height: 700px;
    width: 800px;
    top: 20px;
    margin: 0 auto;
    z-index: 99999;
    background: #ffffff;
    border: 7px solid #ccc;
}

.title-box {
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 250px;
    margin-top: 5px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #ff5000;
    line-height: 50px;
}

.usernom-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 100px;
    margin-left: 80px;
    font-weight: 700;
}

.userprenom-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 180px;
    margin-left: 80px;
    font-weight: 700;
}

.username-input {
    display: inline-block;
    margin-left: 45px;
    /*background: green;*/
}

#username {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.userPassword-box {
    position: absolute;
    width: 600px;
    height: 40px;
    line-height: 40px;
    margin-top: 260px;
    margin-left: 80px;
    font-weight: 700;
}

.userPassword-input {
    display: inline-block;
    margin-left: 28px;
}

#userPassword {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.userRePassword-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 340px;
    margin-left: 80px;
    font-weight: 700;
}

.userRePassword-input {
    display: inline-block;
    margin-left: 28px;
}

#userRePassword {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.userEmail-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 420px;
    margin-left: 80px;
    font-weight: 700;
}

.userEmail-input {
    display: inline-block;
    margin-left: 28px;
}

#userEmail {
    height: 35px;
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.userDate-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 500px;
    margin-left: 82px;
    font-weight: 700;
}

.userDate-input {
    display: inline-block;
    margin-left: 62px;
}

.userGender-box {
    position: absolute;
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin-top: 580px;
    margin-left: 82px;
    font-weight: 700;
}

.userGender-input {
    display: inline-block;
    margin-left: 62px;
}

.require {
    color: red;
}

.submit-box {
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 640px;
    margin-left: 200px;
    border-radius: 5px;
    background: #53e3b5;
}

#submit-button {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #53e3a6;
    border: 0;
    padding: 10px 15px;
    color: white;
    transition-duration: 0.25s;
}

.goLogin-box {
    align-content: center;
    position: absolute;
    width: 300px;
    height: 20px;
    margin-top: 650px;
    margin-left: 320px;
}

