

.bg-theme{background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position:absolute; 
  top: 420px;
  left: 0px;
  right: 0px;
  padding: 30px 20px 10px;
  text-align: center;
  margin: 0;
  max-width: none;
}

.t-center{text-align: center;}


.wrap-box {
  position:absolute; 
  top: 500px;
  left: 0px;
  right: 0px;
  padding: 30px 20px 10px;
  text-align: center;
  margin: 0;
  max-width: none;
}
.wrap-box .header{
  position:absolute; 
  top: 50px;
  left: 0px;
  right: 0px;

}

/* -------------------------------------------- */
/* ------------------Grid System--------------- */ 
.zerogrid{ width: 1200px; position: relative; margin: 0 auto; padding: 0px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}

.zerogrid .col-1-4{float:left; display: inline-block;}

.zerogrid .col-1-4,.zerogrid .col-1-4-fixed{width:25%;}

.zerogrid .offset-1-4{margin-left: 25%;}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.zerogrid{width:960px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.zerogrid{width:768px;}
}

@media only screen and (max-width: 767px) {
	.zerogrid, .zerogrid .col-1-4{width:100%;}
	
  .zerogrid .offset-1-4,{margin-left:0;}
}

/* -------------------------------------------- */
/* ------------------Button--------------- */ 
a.button.bt1 {background: #434343;color: #ffffff;padding: 5px 20px;width: 100%;text-align: center;border:1px solid #474747; }

.annonce_table{
  position:absolute; 
  top: 550px;
  left: 0px;
  right: 0px;
  padding: 30px 20px 10px;
  text-align: center;
  margin: 0;
  max-width: none;
}